
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Titillium+Web:wght@600;700&display=swap');

*{
    margin: auto;
    font-family: 'Noto Sans KR', serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.wrap{
    width: 1200px; 
    margin-top: 20px;
}

header{
    /* padding-top: 25px; */
    position: relative;
}

.logo{
    width: 100%;height: 56px;
    background-repeat: no-repeat;
    background-image: url(/images/pc_ico.png);
    text-indent: -9999px;
}

.h-bg{
    width: 100%; height: 848px;
    position: absolute;top: 0;right: 0;
    background-repeat: no-repeat;
    background-image: url(/images/img_bg.jpg);
    background-position: 100% 0;

}

.tit{
    margin: 40px 0 0 0;
    font-size: 2.500em;
    font-family: 'Titillium Web';
    line-height: 1.2;
}
.txt{
    margin: 10px 0 0 0;
    font-size: 0.875em;
    font-family: 'Noto Sans KR'; font-weight: 300;
    color: #8D8D8D;
}

.portfolio{
    /* display: flex;
    flex-wrap: wrap; */
    width: 50%;
    position: absolute;top: 350px;left: auto;
}


img[class*="p-img"] {
width: 40%;height: auto;
margin: 0 15px 15px 0;
}

.bg-atta{
    width: 100%;height: 210px;
    margin: 1450px 0 0 0;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

.profile{
    width: 690px;height: 506px;
    
}