
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Titillium+Web:wght@600;700&display=swap');

.wrap{
    margin: 0px;
    width: 100%; height: 848px;
    position: absolute;top: 0;right: 0;
    background-repeat: no-repeat;
    background-image: url(/images/home/img_bg.jpg) ;
    background-position: 100% 0;
}

header{
    width: 1200px;
    margin:auto;
    padding-top: 45px;
    position: relative;
}

.logo{
    
    width: 100%;height: 56px;
    background-repeat: no-repeat;
    background-image: url(/images/pc_ico.png);
    text-indent: -9999px;
}

.tit{
    margin: 40px auto 0;
    font-size: 2.500em;
    font-family: 'Titillium Web';
    font-weight: 700;
    line-height: 1.2;
}
.txt{
    margin: 10px auto 0;
    font-size: 0.875em;
    font-family: 'Noto Sans KR'; font-weight: 300;
    color: #8D8D8D;
    line-height: 1.3;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin:auto;
    /* width: 60%; */
    margin-top: 50px;
}
.container .area-cont{
    width: 58%;

}
.area-cont{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.area-cont .cont-g{
    margin-right:15px;
}
.cont-g img {
    display: block;
    width: 100%;
    margin-bottom:15px;
    object-fit: cover;
}

/* .cont1 img:nth-child(2){
    height: 338px;
}
.cont2 img:nth-child(1){
    height: 338px;
}
.cont2 img:nth-child(3){
    height: 338px;
} */


.videowrapper{
    width: 100%;height: 210px;
    margin: 150px 0 150px 0;
    /* margin-bottom: 0; */
    background-image: url(/images/background.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    
}

.thumb{
    max-width: 1200px;
    width: 100%;
    margin:auto;
    display: flex;
}
.thumb-img{
    width: 690px;
    background: no-repeat; 
}
.thumb img{
    width: 100%;height: 506px;
}
.thumb .thumb-txt{
    margin:130px 0 0 126px;
}

.thumb-txt >.tit>span{
    color:#2699FB; 
}
.thumb-txt .ipt-more{
    width: 78px;height: 40px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 30px;
    background: #000;
    color:#fff;
    border: none;
    text-align: center;
}