@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Titillium+Web:wght@600;700&display=swap');


$blue:#2699FB;
$gray:#8D8D8D;

.blind{
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}
.img-g {
    display: block;
   background-image: url(../images/pc-comm.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}
.wrap{
    margin: 0px;
    background-image: none;

}

.container .area-cont{
    width: 100%;
    
}
.txt-cont {
    width: 350px !important ;
  }
  .tabs-nav{
      width: 40%;    
      margin-bottom: 30px;
      display: flex !important;
      justify-content: space-between;
    display: inline-block;
    text-align: center;


  }
  .categories ul li {
      height: 30px;
      padding:20px 10px 0 0;
      font-family: 'Noto Sans KR' ;
    list-style: none;

    a{
        display: inline-block;
        color: #000;
        -webkit-transition: all .2s ease-in-out .2s;
        transition: all .2s ease-in-out .2s;
        text-decoration: none;
    }
    a.active {
        height: 24px;
        margin: -8px 0;
        background-color:$blue;
        padding: 8px 20px 0 20px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
    }
  }
.project-inner {
    // padding-bottom: 0 ;
    padding-top: 55px;
}

//single page
.link{
    position: absolute;top: 142px;left: 238px;
}
.project-link{
    width: 17px;height: 17px;
    background-position: 0 -109px;
}
.project{
    width: 1100px;
    margin: auto;
.project-info{
    margin: 50px auto 0;
    font-family: 'Noto Sans KR'; font-weight: 700;
    color: #000;
    line-height: 1.3;
    .project-txt{
        margin: 8px auto 0;
        font-size: 1.000em;
        font-family: 'Noto Sans KR'; font-weight: 300;
        color:$gray;
    
    }
}
.project-img{
    margin-top: 30px;
    span{
    display: block;
    position: relative;
   
    &::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    border: 1px solid rgba(0,0,0,.1);
    }
}
     img{
        width: 100%;
    } 
}
}
.thumb .thumb-txt{
    transform:translateY(-9%);
    width: 379px;
  }

  .history-tit{
    margin: 30px 0 10px 0;
    color:#C1C1C1;
    font-family: 'Titillium Web';
    font-size: 1.500em;
}

    dt{
        color:#8D8D8D;
        font-family: 'Titillium Web';
        font-size: 0.875em;
        line-height: 28px;
        .co{
            padding-left: 14px;
            color:#000;
            font-size: 16px;
            font-family:  'Noto Sans KR';
        }
        .duty{
            padding-left: 4px;
            font-family:  'Noto Sans KR';
        }
    }

    .GaugeMeter {
        position: Relative;
        text-align: Center;
        overflow: Hidden;
        cursor: Default;
        display: inline-block;
    }